.page{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
}
.pop-up{
    position: absolute;
    top: calc(50% - 250px);
    right: calc(50% - 300px);
    width: 600px;
    height: 500px;    
    z-index: 3;
}
textarea{
    resize: none;
}
.form-group{
    margin-bottom: 10px;
}
.btn-submit{
    float: right;
    margin-top: 20px;
}
.card-title{
    float: left;
}
.card-header{
    background-color: #f69732;
}
.cancel-button{
    width: 30px;
    height: 30px;
    float: right;
}
.cancel-button img{
    width: 100%;
    height: 100%;
}