
<div class="container col-md-6 col-offset-3">

    <ng-container *ngIf="isOnFlashcard">
        <create-flashcard></create-flashcard>
    </ng-container> 
    <h4 class="text-center">Create a new Deck</h4>

    <form (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="title">Deck Name</label>
            <input type="text" class="form-control required" id="title" placeholder="e.g. Biology 101" name="title" [(ngModel)]="deck.name">
        </div>
        <div class="form-group">
            <label for="description">Deck Description</label>
            <textarea class="form-control" id="description" rows="4" name="description" [(ngModel)]="deck.description"></textarea>
        </div>
        
        <div id="flashcardList" class="row">

            <div class="col-md-4">
                <div class="card card-body  list-element">Card</div>
            </div>
            <div class="col-md-4">
                <div class="card card-body  list-element">Card</div>
            </div>
            <div class="col-md-4">
                <div class="card card-body list-element">Card</div>
            </div>

            <div class="col-md-4">
                <div class="card card-body list-element">Card</div>
            </div>

            <div class="col-md-4">
                <div (click)="addFlashcard()" class="card-add-btn btn card card-body list-element">
                    <img src="/assets/icons/add.png"/>
                </div>
            </div>
            
        </div>
        

        <div class="form-group">
            <input type="submit" class="btn btn-primary btn-submit" value="Crea Deck">
        </div>
    </form>    
</div>