img {
    display: block;
    max-width: 100%;
    height: 50px;
}
.login-name-container{
    background-color: transparent;
    color: white;
    font-weight: bold;
    width: fit-content;
    border-color: #6c757d;
}
.icon{
    width: auto;
    height: 20px;
}
.brand-title{
    font-weight: bolder;
    font-size: larger;
    margin-left: 5px;
    align-self: center;
}